:root {
    --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --footer-color: #f5f0ea;
    --primary-color: #FF847D;
    --secondary-color: #D65DB1;
    --block-color: #f7f5f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

header {
    display: flex;
    justify-content: center;
    background: linear-gradient #D65DB1;
    margin: 5vh;
}

.logoHeader {
    height: 6vh;
    display: block;
    margin: 0 auto;
    -webkit-filter: drop-shadow(5px 5px 5px #515151);
}

.logoHeader:hover {
    transform: scale(1.1);
}

body {
    line-height: 1.5;
    font-family: var(--main-font);
    background: linear-gradient(#FF847D, #D65DB1);
    display: flex;
    flex-direction: column;
    /* width: 100%;
    height: 80vh; */
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    width: 95%;
    max-width: 70vh;
    height: auto;
    margin: 0 auto;
}

.mainlogin {
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    padding: 10px 0px 10px 0px;
}

.bloclogin {
    padding: 16px 25px 16px 25px;
    width: 95%;
    max-width: 70vh;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
}

.email, .password {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 2vh;
}


input {
    width: 100%;
    height: 5vh;
    border-radius: 10px;
    background-color: #EAE3E3;
    border: none;
}

.forgotpassword {
    text-align: center;
}

.buttonlogin {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 10px;
    width:15vh;
    height: 4vh;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: var(--secondary-color);
}

.buttonlogin:hover {
    transform: scale(1.1);
}

.forgotpassword {
    padding: 1vh;
}

.continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apple,
.google,
.facebook {
    color: white;
    display: inline;
    margin: 1vh;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #D4D4D4;
    width: 80%;
    max-width: 90%;
    border: none;
    padding: 8px;
}

.apple {
    background-color: black;
    font-size: 15px;
}

.apple:hover {
    transform: scale(1.1);
}

.google {
    background-color: #4185F5;
    font-size: 15px;
}

.google:hover {
    transform: scale(1.1);
}

.facebook {
    background-color: #3C5A95;
    font-size: 15px;
}

.facebook:hover{
    transform: scale(1.1);
}

.signup {
   margin-top: 2vh;
   margin-bottom: 1vh;
}

  footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .footerLogo {
    height: 2vh;
    display: inline-block;
    -webkit-filter: drop-shadow(2px 2px 2px #515151);
  }

  footer > p {
    color: var(--footer-color);
    padding-right: 0.5rem;
  }

/* Mobile style */
@media only screen and (min-width: 240px) and (max-width: 400px) {
.bloclogin {
    width: auto;
    max-width: 80%;

}
  }
  
  /* Tablette style */
  @media only screen and (min-width: 401px) and (max-width: 800px) {
.bloclogin {
    width: auto;
    max-width: 70%;

}
  }
  
  /* Desktop style */
  @media only screen and (min-width: 801px) {
.bloclogin {
    width: auto;
    max-width: 80%;

    }

  }