:root {
  --main-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  display: flex;
  justify-content: center;
  background: linear-gradient #D65DB1;
  margin: 5vh;
}

.LogoHeader {
    height: 6vh;
    display: block;
    margin: 0 auto;
  -webkit-filter: drop-shadow(5px 5px 5px #515151);
}

body {
  line-height: 1.5;
  font-family: var(--main-font);
  background: linear-gradient(#FF847D, #D65DB1);
  width: 100%;
  height: 80vh;
}

h4 {
  padding: 2vh 0vh 2vh 0vh;
}

.mainSignUp, .signup {
  text-align: center;
}

.blocSignup {
  padding: 4vh 8vh 3vh 10vh;
  width: 50%;
  max-width: 500vh;
  margin: 0 auto;
  background: white;
  border-radius: 5vh;
  height: 73vh;
}

.mainpage {
  display: flex;
  justify-content: center;
  margin: auto;
}

footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background: linear-gradient #D65DB1;
  text-align: center;
  padding: 2vh;
}

.footerLogo {
  height: 2vh;
  display: inline-block;
  -webkit-filter: drop-shadow(2px 2px 2px #515151);
}

img {
  height: 6vh;
}

input {
  width: 96%;
  max-width: 100vh;
  border-radius: 5vh;
  background-color: #EAE3E3;
  padding: 5px;
}

#buttonSignup {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border-radius: 5vh;
  margin-top: 9vh;
  height: 3vh;
  width: 25vh;
}

/* Mobile style */
@media only screen and (min-width: 240px) and (max-width: 400px) {
  .blocSignup {
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2em;
  }
}

/* Tablette style */
@media only screen and (min-width: 401px) and (max-width: 800px) {
  .blocSignup {
    width: 90%;
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Desktop style */
@media only screen and (min-width: 801px) {
  .blocSignup {
    max-width: 40%;
  }
  #buttonSignup {
    padding-bottom: 15px;
    padding-top: 2px;
  }
}