:root {
  --main-color: #d6b3df;
  --second-color: #E1E1E1;
  --headertitle: #DFCBCB;
  --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
  margin: 0;
  /* padding: 0.5vh 0.5vh 0.5vh 0.5vh; */
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  background-color: var(--main-color);
  margin: 4vh;
}

.LogoHeader {
  width: 30vh;
}

body {
  line-height: 1.5;
  font-family: var(--main-font);
  background-color: var(--main-color);
  width: 100%;
  height: 80vh;
}

h4 {
  padding: 3vh 0vh 1vh 0vh;
  font-size: 20px;
}

.mainSignUp,
h2 {
  text-align: center;
  /* padding: 2vh; */
}

.blocSignup {
  padding: 4vh 8vh 3vh 10vh;
  width: 50%;
  max-width: 500vh;
  margin: 0 auto;
  background: white;
  border-radius: 5vh;
  height: 73vh;
}

.mainpage {
  display: flex;
  justify-content: center;
  margin: auto;
}

footer {
  position: absolute;
  justify-content: center;
  bottom: 0;
  width: 100%;
  background-color: var(--main-color);
  text-align: center;
}

.footerLogo {
  height: 2vh;
  display: inline-block;
}

img {
  height: 8vh;
}

.input-control {
  display: flex;
  flex-direction: column;
}

.input-control input {
  border: 0.5vh solid #DFDFDF;
  display: block;
  padding: 1.5vh;
  width: 100%;
  background-color: #DFDFDF;
  border-radius: 4vh;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: green;
}

.input-control.error input {
  border-color: red;
}

.input-control .error {
  color: red;
  height: 3vh;
  font-size: 1.5vh;
}




#signupbut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5vh;
  margin-top: 5vh;
  height: 5vh;
  width: 21vh;
  border: none;
  background-color: #d6b3df;
}

/* Mobile style */
@media only screen and (min-width: 240px) and (max-width: 450px) {
  .blocSignup {
    width: auto;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 2vh;
    margin: 4vh;
  }
}




/* Tablette style */
@media only screen and (min-width: 450px) and (max-width: 800px) {
  .blocSignup {
    width: auto;
    max-width: 70%;
    padding: 1vh;
  }
}

/* Desktop style */
@media only screen and (min-width: 801px) {
  .blocSignup {
    width: auto;
    max-width: 40%;
    padding: 1vh;
  }

  #buttonSignup {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
}