:root {
  --primary-color: #d6b3df;
  --secondery-color: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
}

.appLogo {
  height: 2rem;
  margin: 1rem auto;
}

.profileLogo {
  height: 2.5rem;
  margin: 1rem;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3em;
  padding-bottom: 3em;
}

.navLogo {
  height: 60px;
}


/* body */
.mobileContainer {
  min-height: 100vh;
  background-color: white;
  padding: 0 10em 0 10em;
}

.toDo {
  width: 100%;
  max-width: auto;
  background: white;
  /* margin: 100px auto 20px;*/
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#input-box {
  background-color: #EAE3E3;
}


input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px;
}

button {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: #d6b3df;
  cursor: pointer;
}

ul li {
  list-style: none;
  padding: 10px;
  padding-left: 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis;
}

ul li::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(../images/unchecked-10-32.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../images/checked-5-32.png);
}

.delete, .modify{
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  font-size: 22px;
  text-align: center;
  border-radius: 50%;
}
.modify {
  right: 2em;
}

.delete {
  right: 0;
}
.modify:hover, .delete:hover {
  background: var(--primary-color);
}


/* Footer */

footer {
  background-color: #d6b3df;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8PX;
}

.footerLogo {
  height: 1rem;
  display: inline-block;
}

.deleted {
  text-decoration: line-through; /* Add line-through style for deleted tasks */
  color: #999; /* Change color to gray for deleted tasks */
  opacity: 0.5; /* Reduce opacity for deleted tasks */
  pointer-events: none; /* Disable pointer events for deleted tasks */
}
/* Responsive */

@media screen and (min-width: 200px) and (max-width: 400px) {
  .mobileContainer {
    padding: 0;
  }

  nav {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  .navLogo {
    height: 50px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  .mobileContainer {
    padding: 0 0.5em 0 0.5em;
  }

  .navLogo {
    height: 50px;
  }

  nav {
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
  .mobileContainer {
    padding: 0 2em 0 2em;
  }

  .navLogo {
    height: 60px;
  }

}