:root {
  --primary-color: #d6b3df;
  --secondery-color: ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#FF847D);
}

body {
  background: linear-gradient(#FF847D, #D65DB1);
}

.appLogo {
  height: 3rem;
  margin: 2rem;
}

.profileLogo {
  height: 4rem;
  margin: 2rem;
}

.profileLogo:hover {
  transform: scale(1.1);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-evenly;
  /* padding-top: 2em; */
  padding-bottom: 2em;
}

.navLogo {
  height: 5rem;
}

.navLogo:hover {
  transform: scale(1.1);
}


/* body */
.mobileContainer {
  min-height: 100vh;
  background-color: white;
  margin: 0 5em 2em;
  border-radius: 20px 20px 20px 20px;
  padding: 3rem;
}

.toDo {
  width: 100%;
  /* max-width: auto; */
  background: white;
  /* margin: 100px auto 20px;*/
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

#input-box {
  background-color: #EAE3E3;
}

/* #input-box:hover {
  background-color: #cec5ce;
  border: solid;
  border-color: var(--primary-color);
} */


input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px;
}

.editInput {
  width: 50%;
}


button {
  border: none;
  outline: none;
  padding: 10px 30px;
  border-radius: 40px;
  background-color: #D65DB1;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

ul li {
  list-style: none;
  padding: 10px;
  padding-left: 40px;
  user-select: none;
  cursor: pointer;
  position: relative;
  white-space: wrap; 
  /* overflow: hidden; 
  text-overflow: ellipsis; */
  text-wrap: wrap; 
}

ul li::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(../images/unchecked-10-32.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../images/checked-5-32.png);
}

.delete,
.modify {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;
  
  text-align: center;
  border-radius: 50%;
}

.modify {
  right: 2em;
  font-size: 22px;
}

.delete {
  right: 0;
  font-size: 30px;
  font-weight: bold;
}
.modify:hover, .delete:hover, .modify.disable:hover, .delete.disable:hover {
  /* background: var(--primary-color);
   */
   transform: scale(1.4);
}

 .modify.disable {
  background-color: white; 
  
  pointer-events: none;
}
.modify.enabled {
  
  cursor: pointer;
}

.modify.disable:active {
  background-color:white; 
}

/* Footer */

footer {
  background: linear-gradient #D65DB1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 8PX;
}



.footerLogo {
  height: 1rem;
  display: inline-block;
}

.deleted {
  text-decoration: line-through;
  /* Add line-through style for deleted tasks */
  color: #999;
  /* Change color to gray for deleted tasks */
  opacity: 0.5;
  /* Reduce opacity for deleted tasks */
  pointer-events: none;
  /* Disable pointer events for deleted tasks */
}

/* Responsive */

@media screen and (min-width: 200px) and (max-width: 400px) {


  .profileLogo {
    height: 2.5rem;
    margin: 1rem;
  }

  .appLogo {
    height: 2rem;
    margin: 1rem;
  }

  .mobileContainer {
    margin: 0 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    min-height: 80vh;
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .navLogo {
    height: 50px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

  .mobileContainer {
    margin: 0 0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    min-height: 80vh;
  }

  .navLogo {
    height: 50px;
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

  .profileLogo {
    height: 2.5rem;
    margin: 1rem;
  }

  .appLogo {
    height: 2rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 991px) {

  .mobileContainer {
    margin: 0 2rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  .profileLogo {
    height: 3rem;
    margin: 1rem;
  }

  .appLogo {
    height: 2.5rem;
    margin: 1rem;
  }

  .navLogo {
    height: 60px;
  }

  nav {
    padding-top: 1em;
    padding-bottom: 1.5em;
  }

}