:root {
  --text-color: 1d1d1d;
  --footer-color: #f5f0ea;
  --block-color: #f7f5f2;
  --primary-color: #FF847D;
  --secondary-color: #D65DB1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background: linear-gradient(#FF847D, #D65DB1);
  font-family: var(--main-font);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#FF847D);
}

body {
  background: linear-gradient(#FF847D, #D65DB1);
  font-family: var(--main-font);
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
}

.appLogo {
  height: 3rem;
  margin: 2rem;
  -webkit-filter: drop-shadow(5px 5px 5px #515151);
}

.appLogo:hover {
  transform: scale(1.1);
}

.profileLogo {
  height: 4rem;
  margin: 2rem;
  -webkit-filter: drop-shadow(3px 3px 3px #945259);
}

.profileLogo:hover {
  transform: scale(1.1);
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 2em;
}

.navLogo {
  height: 5rem;
  -webkit-filter: drop-shadow(3px 3px 3px #945259);
}

.navLogo:hover {
  transform: scale(1.1);
}


/* body */
.mobileContainer {
  min-height: 50vh;
  background-color: var(--block-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0 5rem 5rem;
  border-radius: 20px 20px 20px 20px;
  padding: 3rem;
}

.toDo {
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

#input-box {
  background-color: #EAE3E3;
  margin-bottom: 1rem;
}


input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px;
  background-color: #EAE3E3;
}

.editInput {
  width: 80%;
}


button {
  border: none;
  /* outline: none; */
  padding: 10px 30px;
  border-radius: 40px;
  background-color: var(--secondary-color);
  cursor: pointer;
  margin-bottom: 1rem;
}

button:hover {
  transform: scale(1.1);
}

ul li {
  list-style: none;
  padding: 10px;
  padding-left: 40px;
  padding-right: 80px;
  user-select: none;
  padding-right: 80px;
  cursor: pointer;
  position: relative;
  white-space: wrap;
  text-wrap: wrap;
}

ul li::before {
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-image: url(../images/unchecked-10-32.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before {
  background-image: url(../images/checked-5-32.png);
}

.delete,
.modify {
  position: absolute;
  top: 5px;
  width: 30px;
  height: 30px;

  text-align: center;
  border-radius: 50%;
}

.modify {
  right: 2em;
  font-size: 22px;
}

.delete {
  right: 0;
  font-size: 22px;
  font-weight: bold;
}

.modify:hover,
.delete:hover,
.modify.disable:hover,
.delete.disable:hover {
  /* background: var(--primary-color);
   */
  transform: scale(1.4);
}

.modify.disable {
  background-color: transparent;

  pointer-events: none;
}

.modify.enabled {

  cursor: pointer;
}

.modify.disable:active {
  background-color: transparent;
}

.save {
  border: none;
  /* outline: none; */
  padding: 6px 14px;
  border-radius: 40px;
  background-color: var(--secondary-color);
  cursor: pointer;
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer>p {
  color: white;
  padding-right: 0.5rem;
}

.footerLogo {
  height: 2vh;
  display: inline-block;
  -webkit-filter: drop-shadow(2px 2px 2px #515151);
}

footer>p {}

/* Responsive */

@media screen and (min-width: 200px) and (max-width: 400px) {


  .profileLogo {
    height: 2.5rem;
    margin: 1rem;
  }

  .appLogo {
    height: 2rem;
    margin: 1rem;
  }

  .mobileContainer {
    margin: 0 0.5rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }

  nav {
    padding-top: 1em;
  }

  .navLogo {
    height: 50px;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

  .mobileContainer {
    margin: 0 2rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }

  .navLogo {
    height: 50px;
  }

  nav {
    padding-top: 1em;
  }

  .profileLogo {
    height: 3rem;
    margin: 1rem;
  }

  .appLogo {
    height: 3rem;
    margin: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 680px) {

  .mobileContainer {
    margin: 0 4rem;
    padding: 2rem 0.5rem 2rem 0.5rem;
  }


}