:root {
    --main-color: #d6b3df;
    --second-color: #E1E1E1;
    --headertitle:#DFCBCB;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
    line-height: 1.5;
    font-family: var(--main-font);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);
    padding: 2rem;
}

img {
    height: 40px;
    display: block;
    margin: 0 auto;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

h2 {
    text-align: center;
}

h2, p, h3, input {
    padding: 15px 0px 15px 0px;
}

.blocpassword {
    padding: 20px 30px 20px 30px;
    width: 50%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
}

input {
    width: 96%;
    height: 25px;
    max-width: 500px;
    border-radius: 10px;
    background-color: #EAE3E3;
}

.buttonsubmit {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    width:100px;
    height: 25px;
    margin-top: 15px;
    margin-bottom: 10px;
   }
  
footer{
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

footer * {
    margin: 0;
}

.image_footer {
    height: 10px;
    margin-left: 10px;
}

/* Mobile style */
@media only screen and (min-width: 200px) and (max-width: 600px) { 
}

/* Tablette style */
@media only screen and (min-width: 601px) and (max-width: 999px) {
}

/* Desktop style */
@media only screen and (min-width: 1000px) {
}
