:root {
    --main-color: #d6b3df;
    --second-color: #E1E1E1;
    --headertitle:#DFCBCB;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    background-color: var(--main-color);
    padding: 2rem;
}

img {
    height: 40px;
    display: block;
    margin: 0 auto;
}

body {
    line-height: 1.5;
    font-family: var(--main-font);
    background-color: var(--main-color);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
}

.mainlogin, h5 {
    text-align: center;
}

.bloclogin {
    padding: 16px 25px 16px 25px;
    width: 95%;
    max-width: 400px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
}

.login {
    padding: 5px;
}

label {
    width: 80%;
}

input {
    width: 100%;
    padding: 5px;
    border-radius: 15px;
    background-color: #EAE3E3;
}


.buttonlogin {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    width:60px;
    margin-top: 15px;
    margin-bottom: 10px;
   }

h5 {
    margin-top: 10px;
}
   
.continue {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.apple, .google, .facebook {
    color:white;
    display: inline;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #D4D4D4;
    width: 80%;
    max-width: 90%;
    border: none;
    padding: 8px;
}

.apple {
    background-color: black;
}

.google {
    background-color:#4185F5;
}

.facebook {
    background-color: #3C5A95;
}

footer{
    background-color: var(--main-color);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer * {
    margin: 0;
}

.image_footer {
    height: 10px;
    margin-left: 10px;
}




/* Mobile style */
@media only screen and (max-width: 600px) { 
}

/* Tablette style */
@media only screen and (min-width: 601px) and (max-width: 999px) {

}

/* Desktop style */
@media only screen and (min-width: 1000px) {

}
