* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
}

div {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding: 5em 10em 5em 10em;
    /* margin: 16px 25px 16px 25px; */
    width: 100%;
}

main {
    background-color: blueviolet;

}

footer {
    background-color: #d6b3df;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

h4 {
    margin: auto;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* height: 50px; */
    width: 35vw;
}

input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
    height: 50px;
    width: 75px;
}

.SignUp {
    background-color: white;
    justify-content: space-around;

}