/* Root colors */
:root {
  --primary-color: #AA66BF;
  --secondary-color: #895fb6; 
}

/* Common styles for both mobile and desktop */
body {
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid;
  border-radius: 0 0 12px 12px;
  position: relative;
  z-index: 1;
}

.profile_icon {
  width: 3rem;
  height: auto;
}

.name_box {
  margin-right: 10px;
}

.logo {
  width: 100px;
  height: auto;
}

/* Navigation bar */
.nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  z-index: 0;
}

.nav_box {
  border-bottom: 1px solid transparent black;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent black;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  width: 100%;
  margin-top: -10px;
  background-color: var(--secondary-color); 
}

.nav_icon {
  width: 1.2rem;
  height: auto;
  margin-right: 5px;
  margin-left: 5px;
}

a {
  text-decoration: none !important;
  color: #212529 !important;
}

/* Task list styles */
.list {
  height: auto;
  padding: 18px;
  border: 2px solid;
  backdrop-filter: blur(10px);
  overflow: auto;
  margin-top: 18px;
}

h1 {
  text-align: center;
}

.input {
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  flex-wrap: wrap;
}

.color_input,
.checkbox_input,
#add-task-btn {
  flex: 1;
}

.color_input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.checkbox_input {
  display: flex;
  align-items: center;
}

#add-task-btn {
  flex-shrink: 0;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.priority-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.tasks {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  background-color: rgb(127, 162, 218);
  padding: 10px;
}

.delete-btn,
.modify-btn {
  padding: 5px 10px;
  cursor: pointer;
}

/* Footer styles */
footer {
  position:fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color); /* Use primary color variable */
  border-top: 1px solid #ced4da;
  text-align: center;
  padding: 0;
  display: block;
}

.logo_footer {
  width: 100px;
  height: auto;
  display: inline-block;
  margin-top: 5px;
}
