/* Mobile style */
@media only screen and (max-width: 600px) {

:root {
    --main-color:#F59494;
    --second-color: #E1E1E1;
    --headertitle:#DFCBCB;
    --main-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    margin: 0;
}

header, footer{
    background-color: var(--main-color);
}

header {
    padding: 15px;
}

body {
    line-height: 1.5;
    font-family: var(--main-font) 
}

h2, h4, h5, h6, .mainlogin, p {
    text-align: center;
}

h2 {
    border-radius: 15px;
    box-shadow: 2px 2px 2px #965B5B;
    width: 45%;
    margin:auto;
    overflow: auto;
    background-color: var(--headertitle);
}

h3 {
    text-shadow: 2px 2px 2px #DCDCDC;
}

.login, .continue {
    width:80%;
    margin: 0 auto;
    padding: 1rem;
}

.continue {
    border-top: 4px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.apple, .google, .facebook {
    color:white;
    display: inline;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #D4D4D4;
    width: 250px;
    border: none;
    padding: 8px;
}

.apple {
    background-color: black;
}

.google {
    background-color:#4185F5;
}

.facebook {
    background-color: #3C5A95;
}

footer{
    background-color: var(--main-color);
    padding: 5px;
}


}



/* Desktop style */
@media only screen and (min-width: 601px) {

}
